{% extends "base.html" %}

{% block title %}Відміна замовлення{% endblock %}
{% block content %}
    <h2>Ви відміняєте замовлення</h2>
    <p>Номер замовлення: {{ order.id }}</p>
    <p>Сплачено: {{ order.id_paid }}</p>
    <p>Автівки у замовленні:</p>
    <ul>
        {% for car in cars %}
            <li>{{ car }}</li>
        {% endfor %}
    </ul>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit">Відмінити замовлення</button>
    </form>
    <h3><a href="/your_orders/{{ order.client.id }}">Повернутись до
        замовлень</a></h3>
{% endblock %}
