<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Index page</title>
</head>
<body>
<h1>Menu</h1>

<h2><a href="/create_order">Create order</a></h2>
<h2>Lists</h2>
<ul>
    <li><a href="/car_list">cars</a></li>
    <li><a href="/order_list">orders</a></li>
    <li><a href="/client_list">clients</a></li>
</ul>
</body>
</html>