{% extends "base.html" %}

{% block title %}Created details{% endblock %}

{% block content %}
    <p>Важливі посилання</p>
    <ul>
        {% if order.is_paid is False %}
            <li><p><a href="/payment/{{ order.id }}">Оплатити зараз!</a></p>
            </li>
        {% endif %}
        <li><p><a href="/your_orders/{{ order.client.id }}">Повернутись до
            замовлень</a></p></li>
    </ul>
    <p>{{ order.client.id }}, вашe замовлення нижче.</p>
    <p>{{ order }}</p>
    <p>Дилер: {{ order.dealership }}</p>
    <p>Сплачено: {{ order.is_paid }}</p>
    <p>Авто:</p>
    <ul>
        {% for car in cars %}
            <li>{{ car }}</li>
        {% endfor %}
    </ul>
{% endblock %}



