{% extends "base.html" %}

{% block title %}Замовлення{% endblock %}

{% block content %}
    {% if canceled_order %}
        <p>Замовлення {{ canceled_order }} відхилено.</p>
    {% endif %}

    <h2>Ваші замовлення, {{ client }}</h2>
    {% if orders %}
        <p>Сплачені замовлення:</p>
        <ul>
            {% for order in orders %}
                {% if order.is_paid is True %}
                    <li><p>Order {{ order.id }} - <a
                            href="/order_details/{{ order.id }}">Деталі</a>/<a
                            href="/cancel_order/{{ order.id }}">Відмінити</a>
                    </p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>НеТ cплачені замовлення:</p>
        <ul>
            {% for order in orders %}
                {% if order.is_paid is False %}
                    <li><p>Order {{ order.id }} - <a
                            href="/order_details/{{ order.id }}">Деталі</a>/<a
                            href="/payment/{{ order.id }}">Оплатити</a>/<a
                            href="/cancel_order/
{{ order.id }}">Відмінити</a></p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p><a href="/personal_cabinet/{{ client.id }}">Повернутись до
            кабінету</a></p>
    {% else %}
    {% endif %}
    <a href="/make_order/{{ client.id }}">Зробити замовлення</a>
{% endblock %}

